/* Color Scheme
   gray-color: #343a40
   green-color: #087f5b  
   font-family: 'Inter', sans-serif
   */

   @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'inter', sans-serif;
    line-height: 1;
    color: #343a40;
}

.carousel {
    background-color: #087f5b;
    width: 800px;
    margin: 100px auto;
    border-radius: 8px;
    padding: 32px;
    display: flex;
    align-items: center;
    gap: 32px;
}

img {
    height: 200px;
    border-radius: 8px;
}

.testimonial-text {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 32px;
    color: #e6fcf5;
}

.testimonial-author {
    font-size: 14px;
    margin-bottom: 4px;
    color: #c3fae8;
}

.testimonial-job {
    font-size: 12px;
    color: #c3fae8;
}